<widget id="A6017018324640" version="0.0.1">
 <name>testApp</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="pageBounce" value="false"/>
		
	<!-- window.navigation.userAgent追加标识,识别环境。 -->
	<preference name="userAgent" value="APICloud" />

	<preference name="appBackground" value="rgba(255,255,255,1)"/>

	<preference name="windowBackground" value="rgba(255,255,255,1)"/>

	<preference name="frameBackgroundColor" value="rgba(255,255,255,1)"/>

	<preference name="hScrollBarEnabled" value="false"/>

	<preference name="vScrollBarEnabled" value="false"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true" />

	<preference name="smartUpdate" value="false" />

	<preference name="debug" value="true"/>

	<preference name="statusBarAppearance" value="true"/>
	
    <preference name="iOS7StatusBarAppearance" value="false"/>

	<permission name="readPhoneState" />

	<permission name="camera" />

	<permission name="record" />

	<permission name="location" />

	<permission name="fileSystem" />

	<permission name="internet" />

	<permission name="bootCompleted" />

	<permission name="hardware" />
	<!-- 定位 -->
    <meta-data name="com.baidu.lbsapi.API_KEY" value="aRP8AAYAFhVbaVCwDSDRFHOX2wIgtEGN"/>
    <feature name="bmLocation">
        <param name="ios_api_key" value="aRP8AAYAFhVbaVCwDSDRFHOX2wIgtEGN"/>
    </feature>

    <!-- 七牛 -->
    <feature name="qiniuUpfile">
        <param name="bucket" value="soul"/>
        <param name="SecretKey" value="7Ju0_gQU367l4dp3gAplN7inx0ZUbMNnL382YweN"/>
        <param name="AccessKey" value="vuI56gU3VrjxUhGEVOx9lrW3dqhR9crTt-ZQTVLJ"/>
    </feature>
</widget>